<html>
   <body>
      <form action = "http://localhost:5000/fcast" method = "POST">
         <h3>Forecast Master Table for SQLite</h3>
         Date<br>
         <input type = "date" name = "start" /></br>
   
         Description<br>
         <input type = "text" name = "desc" /><br>
         
         Amount<br>
         <input type = "number" name = "amt" /><br>
         
         Interval (Blank for One-off)<br>
         <input type = "text" name = "interval" /><br>
         
         EndDate<br>
         <input type = "date" name = "end" /><br>
                
         Category<br>
         <input type = "text" name = "cat" list="mycat">
            <datalist id="mycat">
               <option value="Boston">
               <option value="Cambridge">
            </datalist>

         <input type = "submit" value = "Submit" /><br>
      </form>

      <a href = "/listFcast"> Check Table </a>
   </body>
</html>