<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Category</td>
            <td>Fcast</td>
            <td>Actual</td>
            <td>Variance</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["Category"]}}</td>
               <td>{{row["Fcast"]}}</td>
               <td> {{ row["Actual"]}}</td>
               <td>{{row['Variance']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>