<html>
   <body>
      <form action = "http://localhost:5000/buttons" method = "POST">
         <p>Welcome Ronny</p>
         <p><input type = "submit" name = 'button' value = "Database ParmTable" /></p>
         <p><input type = "submit" name = 'button' value = "Database Query" /></p>
         <p><input type = "submit" name = 'button' value = "Forecast Master Table" /></p>
         Date<br>
         <input type = "date" name = "start" /></br>
         <input type = "submit" value = "Submit" /><br>
         Enter Your Stock <br>
         <input type = "text" name = "nm" />
      </form>
   </body>
</html>
</html>